################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Movie.BE/Movie.BE/bin/Debug/net5.0
/Movie.BE/.vs/Movie.BE
/.vs
/Movie.BE/Movie.BE/obj
